imapAccounts:
  - name: <name for this account>
    username: <imapuser>
    password: <imappassword encrypted>
    host: <imaphost>
    port: <imapport, default 993>
    tls: <true/false, default true>
    inbox: INBOX
    spamFolder: Junk
    inboxBehaviour: unseen
  - name: <name for this account>
    username: <imapuser>
    password: <imappassword encrypted>
    host: <imaphost>
    port: <imapport, default 993>
    tls: <true/false, default true>
    inbox: INBOX
    spamFolder: Spam
    inboxBehaviour: eatspam
spamd:
  host: 127.0.0.1
  port: 783
  use: true
rspamd:
  host: 127.0.0.1
  port: 11333
  use: true
daemon: true
interval: 300s
actions:
  4.0: add header
  6.0: reject
strategy: average
http:
  port: 8080
  password: <encrypted web password>
collectMetrics: true
spamHeader: X-Spam-Flag: {{.YesNo}}\r\nX-Spam-Score: {{.Score}}\r\nX-Spam-Level: {{.Level}}\r\nX-Spam-Bar: {{.Bar}}\r\nX-Spam-Status: {{.YesNoCap}}, score={{.Score}}\r\n
