imapAccounts:
  - name: <name for this account>
    username: <imapuser>
    password: <imappassword encrypted>
    host: <imaphost>
    port: <imapport, default 993>
    tls: <true/false, default true>
    inbox: INBOX
    spamFolder: Junkgto build .
  - name: <name for this account>
    username: <imapuser>
    password: <imappassword encrypted>
    host: <imaphost>
    port: <imapport, default 993>
    tls: <true/false, default true>
    inbox: INBOX
    spamFolder: Spam
spamd:
  host: 127.0.0.1
  port: 783
  use: true
rspamd:
  host: 127.0.0.1
  port: 11333
  use: true
daemon: true
interval: 300s
spamThreshold: 5.0
actions:
  4.0: add header
  6.0: reject
strategy: average
