<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EatSpam</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{template "navbar" .}}
    {{if ne .MessageText ""}}
    <div class="alert alert-{{.MessageType}}" role="alert">
        {{.MessageText}}
    </div>
    {{end}}
    <div class="card w-100">
        <div class="card-header">
            IMAP accounts
        </div>
        <ul class="list-group list-group-flush">
            {{range .Configuration.ImapAccounts}}
            {{if .Ok}}
            <a class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-start" href="account.html?a={{.Name}}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{.Name}}</div>
                    {{.Host}}
                </div>
                <span class="badge bg-primary rounded-pill">{{.UnreadMails}}</span>
            </a>
            {{else}}
            <a class="list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-start" href="account.html?a={{.Name}}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{.Name}}</div>
                    {{.Host}}
                </div>
                <span class="badge bg-primary rounded-pill">{{.UnreadMails}}</span>
            </a>
            {{end}}
            {{end}}
        </ul>
    </div>
    </ul>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>